.jumbotron {
	margin-top: 40px;
	background: #b9905c;
}

h1 {
	font-family: 'Almendra SC', serif;
	color: #000;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
}

h2 {
	font-family: 'Almendra SC', serif;
	color: #000;
	text-align: center;
	margin-bottom: 20px;
}

p {
	font-family: 'Almendra', serif;
	color: #000;
}

.list-group {
	max-height: 400px;
	overflow: auto;
}

.list-group-item {
	background: #841617;
	padding-bottom: 15px;
	border-color: #4e2e1f;
}
.list-group-item p {
	font-family: 'Almendra Display', serif;
	color: #FFF;
	margin-bottom: 0px;
	font-size: 26px;
}

.list-group-item button {
	background: #4e2e1f;
	color: #FFF;
}

img {
	margin-bottom: 15px;
}

a {
	font-family: 'Almendra SC', serif;
	font-size: 24px;
	background: #4a5022;
	color: #FFF;
	margin-bottom: 20px;
}