<div class="jumbotron">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h1>Join the Lists!</h1>
			<p>Enter your Github username below, and whether you're entering the fair as a knight or an archer!</p>
		</div>
	</div>
	<div class="join-form">
		<div class="row" *ngIf="isError">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="alert alert-danger">
					{{errorMessage}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="text" class="form-control input-lg" placeholder="Github Username" [(ngModel)]="newPlayer.username">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<label>I am a:</label>
				<select class="form-control input-lg" [(ngModel)]="newPlayer.type">
					<option value="knight">Knight</option>
					<option value="archer">Archer</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<a class="btn btn-lg btn-block" (click)="enterFair(newPlayer)">Enter the Fair!</a>
			</div>
		</div>
	</div>
</div>